-module({{packageName}}_default_logic_handler).

-behaviour({{packageName}}_logic_handler).

-export([handle_request/3]).
{{#authMethods}}
    {{#isApiKey}}
-export([authorize_api_key/2]).
    {{/isApiKey}}
{{/authMethods}}

{{#authMethods}}
    {{#isApiKey}}
-spec authorize_api_key(ApiKey :: binary(), OperationID :: atom()) -> {true, #{}}.

authorize_api_key(_, _) -> {true, #{}}.
    {{/isApiKey}}
{{/authMethods}}

-spec handle_request(OperationID :: atom(), Req :: cowboy_req:req(), Context :: #{})
-> {Code :: integer(), Headers :: [], Body :: binary()}.

handle_request(OperationID, Req, Context) ->
    Message = io_lib:format("Got not implemented request to process: ~p~n", [{OperationID, Req, Context}]),
    error_logger:info_msg(Message),
    {501, [], <<"">>}.
