# Swagger rest server library for Erlang

## Notes

 * Generated code enforces UTF-8 encoding on every request and response.
   Clients which fail to specify it in their request through proper content type
   header would be rejected with a `415 Unsupported Media Type`.

## TODO
- [ ] Write specs for static exported fuctions
- [ ] Write specs for generated exported fuctions
- [ ] Add datetime/date validation
- [ ] Separate gigantic `api` to submodules and refactor the routing
- [ ] Add tests for the validators
- [ ] Add integrational test for the whole cycle
- [ ] Add validations of definitions with inheritance
- [ ] Add proper response validation (this `list` hack is so weird)
- [ ] Fix enum validation. It doesn't work correctly when the parans is in qs/header
- [ ] Support the `multi` collection format
