-module({{classname}}).

%% generated methods
{{#operations}}{{#operation}}-export([{{operationId}}/4]).
{{/operation}}{{/operations}}
{{#operations}}{{#operation}}
-spec {{operationId}}(Body::term(), Headers::list(), Params::term(), Qs::term()) ->
  {ok, integer(), list(), {ok, binary()}}.
{{operationId}}(Body, Headers, Params, Qs) ->
  Url = swagger_api_utils:get_url("{{basePathWithoutHost}}{{path}}" ++ Qs),
  PreparedBody = jsx:encode(Body),
  FilledUrl = swagger_api_utils:fill_url(Url, Params),

  hackney:request({{httpMethod}}, FilledUrl, Headers, PreparedBody, [with_body]).
{{/operation}}{{/operations}}
