-module({{classname}}).

%% generated methods
{{#operations}}{{#operation}}-export([{{operationId}}/3]).
{{/operation}}{{/operations}}
{{#operations}}{{#operation}}
-spec {{operationId}}(Host::string(), Port::integer(), Params::map()) ->
    {ok, integer(), list(), {ok, binary()}}.
{{operationId}}(Host, Port, Params) ->
    swagger_client_api_procession:process_request(
        {{httpMethod}},
        {{operationId}},
        swagger_client_api_utils:get_url(Host, Port, "{{basePathWithoutHost}}{{path}}"),
        Params
    ).
{{/operation}}{{/operations}}
